body
    height calc(100vh - 10px)
    display -webkit-flex
    display flex
    -webkit-flex-direction column
    flex-direction column
    justify-content center
    margin 5px 0 0 0
main
    display -webkit-flex
    display flex
    justify-content center
    td
        font-size 18px
